<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Royalking Hotel & Resort HTML Template</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/css/responsive.css" rel="stylesheet">
<!-- Color File -->
<link href="/css/color.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <header class="main-header header-style-two">
        <div class="header-upper">
            <div class="auto-container">
                <div class="inner-container d-flex align-items-center justify-content-between">
                    <div class="logo-box">
                        <div class="logo" style="width: 240px;"><a href="index.html"><img src="/images/logo-light.png" alt=""></a></div>
                    </div>
                    <div class="middle-column">
                        <div class="nav-outer">
                            <div class="mobile-nav-toggler"><img src="/images/icons/icon-bar.png" alt=""></div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation">
                                        <li class="dropdown"><a href="index.html">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home Page 1</a></li>
                                                <li><a href="index-2.html">Home Page 2</a></li>
                                                <li><a href="index-3.html">Home Page 3</a></li>
                                            </ul>
                                        </li>                                    
                                        <li class="dropdown"><a href="about.html">About</a>
                                            <ul>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="team.html">Team</a></li>                                                
                                                <li><a href="testimonials.html">Testimonials</a></li>                                                
                                                <li><a href="faq.html">Faq</a></li>
                                                <li><a href="error.html">404 Error Page</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="blog-grid.html">Pages</a>
                                            <ul>                                                
                                                <li><a href="menu.html">Menu</a></li>                                                
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="spa.html">Spa & Wellness</a></li>
                                                <li><a href="amenities.html">Amenities</a></li>
                                                <li class="dropdown"><a href="event-grid.html">Events</a>
                                                    <ul>
                                                        <li><a href="events.html">Events</a></li>
                                                        <li><a href="event-details.html">Event Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="packages.html">Packages</a>
                                                    <ul>
                                                        <li><a href="packages.html">Packages</a></li>
                                                        <li><a href="package-details.html">Package Details</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="room-1.html">Rooms</a>
                                            <ul>
                                                <li><a href="room-1.html">Room Style 01</a></li>
                                                <li><a href="room-2.html">Room Style 02</a></li>
                                                <li><a href="room-details.html">Room Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="right-column d-flex align-items-center">
                        <div class="header-link-btn"><a href="/" class="btn-1 btn-small btn-alt">Log Out<span></span></a></div>
                    </div>                      
                </div>
            </div>
        </div>
        <div class="sticky-header dark-bg">
            <div class="header-upper">
                <div class="auto-container">
                    <div class="inner-container d-flex align-items-center justify-content-between">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo" style="width: 240px;"><a href="index.html"><img src="/images/logo-light.png" alt=""></a></div>
                        </div>
                        <div class="middle-column">
                            <!--Nav Box-->
                            <div class="nav-outer">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler"><img src="/images/icons/icon-bar-2.png" alt=""></div>
    
                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md navbar-light">
                                </nav>
                            </div>
                        </div>
                        <div class="right-column d-flex align-items-center">         
                            <div class="header-link-btn"><a href="/" class="btn-1 btn-small btn-alt">Log Out<span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="fal fa-times"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="/images/logo-light.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div>

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>

    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="fal fa-times"></span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                            <input type="submit" value="Search Now!" class="theme-btn">
                        </fieldset>
                    </div>
                </form>
                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Finance</a></li>
                    <li><a href="#">Idea</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Growth</a></li>
                    <li><a href="#">Plan</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-title" style="background-image: url(/images/background/page-title.jpg);">
        <div class="auto-container">
            <h1>Update Comment</h1>
        </div>
    </div>
    <!-- <div class="bredcrumb-wrap">
        <div class="auto-container">
            <ul class="bredcrumb-list">
                <li>Movie Content</li>
            </ul>
        </div>
    </div> -->

    <!-- comments -->
    <section class="section-padding">
        <div class="auto-container">
            <div class="section_heading text-center">
                <h2 class="section_heading_title_big mb_60">Update Information</h2>
            </div>
            <div class="row">
                <!-- comment item start -->
                <!-- <center><div class="col-lg-6">
                    <label for="name">Name (4 to 8 characters):</label>
                    <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"> -->
                    <!-- <div class="price-menu-1-block">
                        <div class="p_relative">
                            <p class="theme-color fs_22 p_absolute r_0 t_0">rating from this comment</p>
                            <h4>User name</h4>
                            <div class="price-menu-1-divider mt_10 mb_10"></div>
                            <p class="mb_0">Comment content</p>
                        </div>
                    </div> -->
                    <form class="form-events" action="/comments/update" method="post">
                        <div class="form-group">
                            <fieldset>
<!--                                 <label>Rating (between 0 and 5):</label>
                                <input type="text" class="form-control" name="new_rating" value = "<%= comment.grade %>" required > <br> -->
                              <label>Grade:</label>  
                              <select name="new_rating">
                                  <option value="5" selected>5</option>
                                  <option value="4">4</option>
                                  <option value="3">3</option>
                                  <option value="2">2</option>
                                  <option value="1">1</option>
                                </select><br>
                                <label>Comment:</label>
                                <input type="text" class="form-control" name="new_content" value= "<%= comment.content %>" required > <br>
                                <center><button name="updateCommentBtn" value="<%= comment._id %>" class="btn-1 btn-alt">Update <span></span></button></center>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <!-- comment item end -->
            </div>
        </div>
    </section>

    <!-- Feature three -->
    <section class="section-padding gray-bg">
        <div class="feature-3-shape-1 p_absolute r_30 b_0"><img src="/images/shape/pattern-5.png" alt=""></div>
        <div class="auto-container">
            <div class="section_heading text-center">
                <span class="section_heading_title_small">Popular</span>
                <h2 class="section_heading_title_big mb_60">Popular Dishes</h2>
            </div>
            <div class="row p_relative">
                <div class="feature-3-shape-2"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-3-block mb_30 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                        <div class="feature-3-image hvr-img-zoom-1"><img src="/images/resource/feature-image-12.jpg" alt=""></div>
                        <div class="feature-3-offer w_80 h_80 theme-bg p_absolute r_30 t_30 fs_18 text-center text-light pt_20 b_radius_50 lh_20"><span class="fs_22 fw_medium">15%</span><br> OFF</div>
                        <div class="feature-3-lower-content">
                            <h4 class="feature-3-title mb_5">Grilled with Tomatoes</h4>
                            <p class="fs_15 mb_5"><span class="theme-color mr_10">$55.0</span> $65.0</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-3-block mb_30 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                        <div class="feature-3-image hvr-img-zoom-1"><img src="/images/resource/feature-image-13.jpg" alt=""></div>
                        <div class="feature-3-offer w_80 h_80 theme-bg p_absolute r_30 t_30 fs_18 text-center text-light pt_20 b_radius_50 lh_20"><span class="fs_22 fw_medium">15%</span><br> OFF</div>
                        <div class="feature-3-lower-content">
                            <h4 class="feature-3-title mb_5">Squeezing Fresh Juice</h4>
                            <p class="fs_15 mb_5"><span class="theme-color mr_10">$55.0</span> $65.0</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-3-block mb_30 wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                        <div class="feature-3-image hvr-img-zoom-1"><img src="/images/resource/feature-image-14.jpg" alt=""></div>
                        <div class="feature-3-offer w_80 h_80 theme-bg p_absolute r_30 t_30 fs_18 text-center text-light pt_20 b_radius_50 lh_20"><span class="fs_22 fw_medium">15%</span><br> OFF</div>
                        <div class="feature-3-lower-content">
                            <h4 class="feature-3-title mb_5">Fish with Vegetable</h4>
                            <p class="fs_15 mb_5"><span class="theme-color mr_10">$55.0</span> $65.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="footer-1-middle">
            <center><p>
              Copyright by 2560 Super Stars
              </p></center>
        </div>
        
    </footer>
	
</div>

<!--Scroll to top-->
<div class="scroll-to-top">
    <div>
        <div class="scroll-top-inner">
            <div class="scroll-bar">
                <div class="bar-inner"></div>
            </div>
            <div class="scroll-bar-text">Go To Top</div>
        </div>
    </div>
</div>
<!-- Scroll to top end -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/parallax-scroll.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/booking-form.js"></script>
<script src="/js/odometer.min.js"></script>
<script src="/js/script.js"></script>


</body>
</html>